* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 41, 77);
}

h1 {
    text-align: center;
    margin: 10px;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    font-family: "Montserrat";
    color: orange;
}

kbd {
    font-family: 'Big Shoulders Inline Display', cursive;
    background-color: #eee;
    color: #555;
    font-weight: bolder;
    box-shadow: 1px 1px 1px #777;
    padding: 0px 4px;
    margin: 2px;
    display: inline-block;
    border-radius: 3px;
}
.key-shortcuts {
    font-family: 'Pangolin', cursive;
    background-color: hsl(117, 29%, 29%);
    width: 330px;
    margin: 15px auto;
    padding: 10px 25px;
    border-radius: 10px;
    color: orange;
}

.calculator {
    background-color: rgb(187, 185, 185);
    background-color: hsl(117, 29%, 29%);
    border-radius: 10px;
    padding: 15px;
    width: 330px;
    height: 400px;
    margin: 0 auto;
    border: solid 1px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "display display display c"
        "remove pow division multiplication"
        "seven eigth nine minus"
        "four five six plus"
        "one two three equal"
        "zero sign dot equal"
    ;
    text-align: center;
    gap: 2px;   
}

.display > .visualization {
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(214, 208, 208);
    overflow: hidden;
}

.display > .operation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #eee;
    font-size: 2rem;
}

.calculator > button{
    outline: none;
}

.display {
    grid-area: display;
    border: solid #000 1px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.display > div {
    max-width: 100%;
    overflow: hidden;
}

.sign {
    grid-area: sign;
}

.c {
    grid-area: c;
    background-image: url('./images/deletecan.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: crimson;
}

.c:hover {
    background-color: hsl(348, 83.3%, 62.1%);
}


.pow {
    grid-area: pow;
}

.division {
    grid-area: division;
}

.multiplication {
    grid-area: multiplication;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eigth {
    grid-area: eigth;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.minus {
    grid-area: minus;
}

.plus {
    grid-area: plus;
}

.equal {
    grid-area: equal;
}

.op, .equal, .sign {
    background-color: orange;
    font-size: 1.2rem;
    font-weight: bolder;
}

.num, .dot {
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: rgb(139, 65, 65);
}

.dot {
    font-weight: bolder;
    font-size: 1.2rem;
    grid-area: dot;
}

.remove {
    background-color: hsl(12, 68%, 50%);
    grid-area: remove;
    background-image: url('./images/delete.png');
    background-repeat: no-repeat;
    background-position: center;
}

.remove:hover {
    background-color: hsl(12, 68%, 60%);
}

.num:hover, .dot:hover {
    background-color: hsl(0, 36.3%, 60%);
}

.op:hover, .equal:hover, .sign:hover {
    background-color: hsl(39, 100%, 70%);
} 